<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1><%= title %></h1>
            <p>Welcome to <%= title %></p>

                <!-- TradingView Widget BEGIN -->
                <script type="text/javascript" src="https://d33t3vvu2t2yu5.cloudfront.net/tv.js"></script>
                <script type="text/javascript">
                new TradingView.widget({
                    "width": 998,
                    "height": 610,
                    "symbol": "NASDAQ:AAPL",
                    "interval": "D",
                    "timezone": "exchange",
                    "theme": "White",
                    "style": "1",
                    "toolbar_bg": "#f1f3f6",
                    "withdateranges": true,
                    "allow_symbol_change": true,
                    "save_image": false,
                    "watchlist": [
                    "SPY", 
                    "AAPL",
                    "DIS",
                    "FB",
                    "INTC",
                    "MSFT",
                    "GOOG" ],
                    "hideideas": true
                });
                </script>
                <!-- TradingView Widget END -->
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html>